ENVIRONMENT=production

# The email address to send emails to
EMAIL=prateek2152@gmail.com

# The email address to send emails from (must be verified in AWS SES)
FROM_EMAIL=prateek2152@gmail.com

# Secure session secret
SESSION_SECRET=9f3e9b7db4a09fcf44e50a7e8892a0f7a3e7bd3e5a450cbdc07a9c6e2e1c1b0a